In [122]:
import os
import numpy as np
import pandas as pd
import math

data1 = pd.read_csv('/Users/doyoung/학교/Python_Programming_JupyterNotebook/데이터/Life_expectancy1.csv')

In [123]:
data2 = pd.read_csv('/Users/doyoung/학교/Python_Programming_JupyterNotebook/데이터/Life_expectancy2.csv')

In [124]:
data1.head()

,Country,Year,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,BMI
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2

In [130]:
data = pd.merge(data1,data2,on='Country',how='outer')

In [131]:
data

,Country,Year_x,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46853,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
46854,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
46855,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
46856,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
46857,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [132]:
data.isna().any() #데이터의 결측치 확인

Country                            False
Year_x                             False
Status                             False
Life expectancy                     True
Adult mortality                     True
Infant deaths                      False
Alcohol                             True
Percentage expenditure             False
Hepatitis B                         True
Measles                            False
BMI                                 True
Year_y                             False
Under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
HIV/AIDS                           False
GDP                                 True
Population                          True
Thinness 1-19 years                 True
Thinness 5-9 years                  True
Income composition of resources     True
Schooling                           True
dtype: bool

In [133]:
data_missing=data.loc[:,data.isna().any()].isna().mean()
print(data_missing)
len_isna=len(data_missing) #데이터의 결측치 변수 확인
print("데이터의 결측치의 개수 : ", len_isna)

Life expectancy                    0.000213
Adult mortality                    0.000213
Alcohol                            0.065923
Hepatitis B                        0.188826
BMI                                0.010969
Polio                              0.006488
Total expenditure                  0.077169
Diphtheria                         0.006488
GDP                                0.151372
Population                         0.220069
Thinness 1-19 years                0.010969
Thinness 5-9 years                 0.010969
Income composition of resources    0.054783
Schooling                          0.054697
dtype: float64
데이터의 결측치의 개수 :  14

In [134]:
for i in range(0, len(data_missing)): #결측치가 10%이상인 변수 확인 후, 제거
    if data_missing[i]>0.1:
        print(data_missing[i])
# 0.18882581416193606 인 Hepatitis B, 0.15137223099577446인 GDP, 0.22006914507661446인 Population이 변수

0.18882581416193606
0.15137223099577446
0.22006914507661446

In [135]:
print('Hepatitis B, GDP, Population')

Hepatitis B, GDP, Population

In [136]:
data_drop=data.drop(['Hepatitis B', 'GDP', 'Population'],axis=1) # 결측치가 10%이상인 변수 제거

In [137]:
data_drop.isna().any() #데이터의 결측치 확인 
#Life expectancy, Adult mortality, Alcohol, BMI, Polio, Total expenditure, Diphtheria, Thinness 1-19 years, Thinness 5-9 years, Income composition of resources, Schooling
#위의 변수에 결측치가 하나라도 존재

Country                            False
Year_x                             False
Status                             False
Life expectancy                     True
Adult mortality                     True
Infant deaths                      False
Alcohol                             True
Percentage expenditure             False
Measles                            False
BMI                                 True
Year_y                             False
Under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
HIV/AIDS                           False
Thinness 1-19 years                 True
Thinness 5-9 years                  True
Income composition of resources     True
Schooling                           True
dtype: bool

In [138]:
data_drop

,Country,Year_x,Status,Life expectancy,Adult mortality,Infant deaths,Alcohol,Percentage expenditure,Measles,BMI,Year_y,Under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,Thinness 1-19 years,Thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,1154,19.1,2015,83,6.0,8.16,65.0,0.1,17.2,17.3,0.479,10.1
1,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,1154,19.1,2014,86,58.0,8.18,62.0,0.1,17.5,17.5,0.476,10.0
2,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,1154,19.1,2013,89,62.0,8.13,64.0,0.1,17.7,17.7,0.470,9.9
3,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,1154,19.1,2012,93,67.0,8.52,67.0,0.1,17.9,18.0,0.463,9.8
4,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,1154,19.1,2011,97,68.0,7.87,68.0,0.1,18.2,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46853,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,1483,25.5,2004,42,67.0,7.13,65.0,33.6,9.4,9.4,0.407,9.2
46854,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,1483,25.5,2003,41,7.0,6.52,68.0,36.7,9.8,9.9,0.418,9.5
46855,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,1483,25.5,2002,40,73.0,6.53,71.0,39.8,1.2,1.3,0.427,10.0
46856,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,1483,25.5,2001,39,76.0,6.16,75.0,42.1,1.6,1.7,0.427,9.8
46857,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,1483,25.5,2000,39,78.0,7.10,78.0,43.5,11.0,11.2,0.434,9.8

In [139]:
#결측치 제거
data_drop2=data_drop.drop(['Adult mortality', 'Alcohol', 'BMI', 'Polio', 'Total expenditure','Diphtheria ','Thinness 1-19 years', 'Thinness 5-9 years', 'Income composition of resources', 'Schooling'],axis=1)

In [140]:
data_drop2.isna().any() #데이터의 결측치 확인, 결측치 있는 관측치 없음

Country                   False
Year_x                    False
Status                    False
Life expectancy            True
Infant deaths             False
Percentage expenditure    False
Measles                   False
Year_y                    False
Under-five deaths         False
HIV/AIDS                  False
dtype: bool

In [141]:
#중복되는 데이터 확인
data_drop2.duplicated(keep='first').sum()
#중복되는 관측치 없음 = 0

0

In [142]:
new_data=data_drop2.groupby(['Country']).describe()
new_data

                                   Year_x                                     \
                                    count    mean       std     min      25%
Country
Afghanistan                         256.0  2007.5  4.618802  2000.0  2003.75
Albania                             256.0  2007.5  4.618802  2000.0  2003.75
Algeria                             256.0  2007.5  4.618802  2000.0  2003.75
Angola                              256.0  2007.5  4.618802  2000.0  2003.75
Antigua and Barbuda                 256.0  2007.5  4.618802  2000.0  2003.75
...                                   ...     ...       ...     ...      ...
Venezuela (Bolivarian Republic of)  256.0  2007.5  4.618802  2000.0  2003.75
Viet Nam                            256.0  2007.5  4.618802  2000.0  2003.75
Yemen                               256.0  2007.5  4.618802  2000.0  2003.75
Zambia                              256.0  2007.5  4.618802  2000.0  2003.75
Zimbabwe                            256.0  2007.5  4.618802  2000.0  2003.75

                                                            Life expectancy  \
                                       50%      75%     max           count
Country
Afghanistan                         2007.5  2011.25  2015.0           256.0
Albania                             2007.5  2011.25  2015.0           256.0
Algeria                             2007.5  2011.25  2015.0           256.0
Angola                              2007.5  2011.25  2015.0           256.0
Antigua and Barbuda                 2007.5  2011.25  2015.0           256.0
...                                    ...      ...     ...             ...
Venezuela (Bolivarian Republic of)  2007.5  2011.25  2015.0           256.0
Viet Nam                            2007.5  2011.25  2015.0           256.0
Yemen                               2007.5  2011.25  2015.0           256.0
Zambia                              2007.5  2011.25  2015.0           256.0
Zimbabwe                            2007.5  2011.25  2015.0           256.0

                                              ... Under-five deaths          \
                                        mean  ...                75%    max
Country                                       ...
Afghanistan                         58.19375  ...             120.50  122.0
Albania                             75.15625  ...               1.00    1.0
Algeria                             73.61875  ...              24.00   25.0
Angola                              49.01875  ...             152.75  160.0
Antigua and Barbuda                 75.05625  ...               0.00    0.0
...                                      ...  ...                ...    ...
Venezuela (Bolivarian Republic of)  73.38750  ...              11.25   13.0
Viet Nam                            74.77500  ...              36.25   43.0
Yemen                               63.86250  ...              56.50   66.0
Zambia                              53.90625  ...              59.75   72.0
Zimbabwe                            50.48750  ...              44.25   46.0

                                   HIV/AIDS                               \
                                      count      mean           std  min
Country
Afghanistan                           256.0   0.10000  3.615293e-16  0.1
Albania                               256.0   0.10000  3.615293e-16  0.1
Algeria                               256.0   0.10000  3.615293e-16  0.1
Angola                                256.0   2.36875  2.342280e-01  1.9
Antigua and Barbuda                   256.0   0.12500  4.338609e-02  0.1
...                                     ...       ...           ...  ...
Venezuela (Bolivarian Republic of)    256.0   0.10000  3.615293e-16  0.1
Viet Nam                              256.0   0.14375  4.970501e-02  0.1
Yemen                                 256.0   0.10000  3.615293e-16  0.1
Zambia                                256.0  11.93125  5.735910e+00  4.1
Zimbabwe                              256.0  23.26250  1.286385e+01  6.2


                                       25%    50%     75%   max
Country
Afghanistan                          0.100   0.10   0.100   0.1
Albania                              0.100   0.10   0.100   0.1
Algeria                              0.100   0.10   0.100   0.1
Angola                               2.250   2.50   2.525   2.6
Antigua and Barbuda                  0.100   0.10   0.125   0.2
...                                    ...    ...     ...   ...
Venezuela (Bolivarian Republic of)   0.100   0.10   0.100   0.1
Viet Nam                             0.100   0.10   0.200   0.2
Yemen                                0.100   0.10   0.100   0.1
Zambia                               6.125  12.75  17.750  18.7
Zimbabwe                            12.175  22.10  34.375  43.5

[193 rows x 64 columns]

In [143]:
new_data.drop(['Year_x'],axis=1) #Year 변수 제거

                                   Life expectancy                            \
                                             count      mean       std   min
Country
Afghanistan                                  256.0  58.19375  2.309528  54.8
Albania                                      256.0  75.15625  1.781814  72.6
Algeria                                      256.0  73.61875  1.506366  71.3
Angola                                       256.0  49.01875  2.754070  45.3
Antigua and Barbuda                          256.0  75.05625  0.868422  73.6
...                                            ...       ...       ...   ...
Venezuela (Bolivarian Republic of)           256.0  73.38750  0.508284  72.4
Viet Nam                                     256.0  74.77500  0.802740  73.4
Yemen                                        256.0  63.86250  1.756958  61.1
Zambia                                       256.0  53.90625  6.468794  43.8
Zimbabwe                                     256.0  50.48750  6.628080  44.3

                                                                Infant deaths  \
                                       25%    50%     75%   max         count
Country
Afghanistan                         56.925  57.80  59.275  65.0         256.0
Albania                             73.450  75.60  76.675  77.8         256.0
Algeria                             72.150  73.95  74.950  75.6         256.0
Angola                              47.025  48.45  51.025  56.0         256.0
Antigua and Barbuda                 74.350  75.10  75.750  76.4         256.0
...                                    ...    ...     ...   ...           ...
Venezuela (Bolivarian Republic of)  73.175  73.60  73.725  74.1         256.0
Viet Nam                            74.150  74.80  75.450  76.0         256.0
Yemen                               62.500  63.95  64.875  68.0         256.0
Zambia                              47.525  56.55  58.450  63.0         256.0
Zimbabwe                            45.175  47.40  55.325  67.0         256.0

                                             ... Under-five deaths          \
                                       mean  ...                75%    max
Country                                      ...
Afghanistan                         78.2500  ...             120.50  122.0
Albania                              0.6875  ...               1.00    1.0
Algeria                             20.3125  ...              24.00   25.0
Angola                              83.7500  ...             152.75  160.0
Antigua and Barbuda                  0.0000  ...               0.00    0.0
...                                     ...  ...                ...    ...
Venezuela (Bolivarian Republic of)   9.3750  ...              11.25   13.0
Viet Nam                            29.1875  ...              36.25   43.0
Yemen                               39.3750  ...              56.50   66.0
Zambia                              33.4375  ...              59.75   72.0
Zimbabwe                            26.5625  ...              44.25   46.0

                                   HIV/AIDS                               \
                                      count      mean           std  min
Country
Afghanistan                           256.0   0.10000  3.615293e-16  0.1
Albania                               256.0   0.10000  3.615293e-16  0.1
Algeria                               256.0   0.10000  3.615293e-16  0.1
Angola                                256.0   2.36875  2.342280e-01  1.9
Antigua and Barbuda                   256.0   0.12500  4.338609e-02  0.1
...                                     ...       ...           ...  ...
Venezuela (Bolivarian Republic of)    256.0   0.10000  3.615293e-16  0.1
Viet Nam                              256.0   0.14375  4.970501e-02  0.1
Yemen                                 256.0   0.10000  3.615293e-16  0.1
Zambia                                256.0  11.93125  5.735910e+00  4.1
Zimbabwe                              256.0  23.26250  1.286385e+01  6.2


                                       25%    50%     75%   max
Country
Afghanistan                          0.100   0.10   0.100   0.1
Albania                              0.100   0.10   0.100   0.1
Algeria                              0.100   0.10   0.100   0.1
Angola                               2.250   2.50   2.525   2.6
Antigua and Barbuda                  0.100   0.10   0.125   0.2
...                                    ...    ...     ...   ...
Venezuela (Bolivarian Republic of)   0.100   0.10   0.100   0.1
Viet Nam                             0.100   0.10   0.200   0.2
Yemen                                0.100   0.10   0.100   0.1
Zambia                               6.125  12.75  17.750  18.7
Zimbabwe                            12.175  22.10  34.375  43.5

[193 rows x 56 columns]

In [144]:
Y=new_data['Life expectancy']
X=new_data.drop(['Life expectancy'],axis=1)

In [145]:
def split(X, Y, test_size=0.25):
    X = np.array(X)
    Y = np.array(Y)
    
    indices = np.array(range(len(X)))
    test_size_len = round(test_size * len(X))
    
    train_indices = indices[0:(len(X)-test_size_len)]
    test_indices = indices[(len(X)-test_size_len):]
        
    X_train = X[train_indices, :]
    X_test = X[test_indices, :]
    Y_train = Y[train_indices]
    Y_test = Y[test_indices]
        
    return X_train, X_test, Y_train, Y_test

In [146]:
X_train,X_test,Y_train,Y_test=split(X,Y,test_size=0.25)

In [147]:
X_test

array([[2.56000000e+02, 2.00750000e+03, 4.61880215e+00, ...,
        1.00000000e-01, 1.00000000e-01, 1.00000000e-01],
       [1.00000000e+00, 2.01300000e+03,            nan, ...,
        1.00000000e-01, 1.00000000e-01, 1.00000000e-01],
       [2.56000000e+02, 2.00750000e+03, 4.61880215e+00, ...,
        1.05000000e+00, 1.50000000e+00, 1.60000000e+00],
       ...,
       [2.56000000e+02, 2.00750000e+03, 4.61880215e+00, ...,
        1.00000000e-01, 1.00000000e-01, 1.00000000e-01],
       [2.56000000e+02, 2.00750000e+03, 4.61880215e+00, ...,
        1.27500000e+01, 1.77500000e+01, 1.87000000e+01],
       [2.56000000e+02, 2.00750000e+03, 4.61880215e+00, ...,
        2.21000000e+01, 3.43750000e+01, 4.35000000e+01]])

In [148]:
class MLR:
    def init(self,intercept=True):
        self.coef=None
        self.intercept=intercept
        
    def intercept_add(self,X_input):
        ones=np.ones(X_input.shape[0]).reshape(-1,1)
        result=np.concatenate([ones,X_input],axis=1)
        
        return result
        
    def fit(self,X_input, Y_output):
        if self.intercept==True:
            new_X_input=self.intercept_add(X_input)
            self.coef=np.linalg.inv(new_X_input.transpose()@new_X_input)@new_X_input.transpose()@Y_output
            
        else:
            new_X_input=X_input
            self.coef=np.linalg.inv(new_X_input.transposespose()@new_X_input)@new_X_input.transpose()@Y_output
            
    def predict(self,X_test):
        if self.intercept==True:
            new_X_test=self.intercept_add(X_test)
            pred_test=new_X_test@self.coef.reshape(-1,1)
            
        else:
            new_X_test=X_test
            pred_test=new_X_test@self.coef.reshape(-1,1)
            
        return pred_test

In [149]:
class KNN:
    
    def init(self, k = 5):
        self.k = k
        self.neighbors = None
        
    def euclidean(self, obs1, obs2):
        dist = np.sqrt(np.sum(obs1-obs2)**2)
        
        return np.around(dist,3)
    
    def manhanttan(self, obs1, obs2):
        
        return np.sum(np.abs(obs1 - obs2))
        
    def search_neighbors(self, X_train, test_sample):
        dists_info=list()
        
        for index, train_sample in enumerate(X_train):
            dist = self.manhanttan(train_sample, test_sample)
            dists_info.append((train_sample,dist,index))
            
        dists_info.sort(key=lambda tupe:tupe[1])
        self.neighbors = dists_info[:self.k]
        
        return self.neighbors
    
    def predict(self, X_train,Y_train, test_sample):
        self.neighbors = self.search_neighbors(X_train, test_sample)
        
        neigh_index = list()
        
        for neigh in self.neighbors:
            neigh_index.append(neigh[2])
            
        neigh_y = Y_train[neigh_index]
        
        classes, counts = np.unique(neigh_y, return_counts = True)
        pred=classes[np.argmax(counts)]
        
        return pred,neigh_y

In [150]:
def MSE(true_y, pred_y):
    result1=true_y - pred_y
    mse_result=np.mean(result1**2)
    
    return mse_result
    
def MAPE(true_y,pred_y):
    result2=true_y-pred_y
    result_mape=(np.abs((result2)/true_y))*100
    mape_result=np.mean(result_mape)
        
    return mape_result

In [166]:
def Min_Max_scale(input):
    X_scaled=[]
    
    X_max=max(input)
    X_min=min(input)
    
    for i in range(0,len(input)):
        X_scaled.append((input[i]-X_min)/(X_max-X_min))
    
    return X_scaled

In [164]:
X_scaled_train=Min_Max_scale(X_train)
X_scaled_test=Min_Max_scale(X_test)

TypeError: 'builtin_function_or_method' object is not subscriptable

In [167]:
mlr=MLR()

In [168]:
mlr.init(intercept=True)
mlr.fit(X_train,X_test)
pred=mlr.predict(X_test)

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 48 is different from 145)

In [169]:
knn=KNN()

In [ ]:
knn.init(k=5)