In [15]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

path = '/Users/doyoung/학교/Python_Programming_JupyterNotebook/데이터/iris.csv'

In [16]:
data_set = pd.read_csv(path)

In [17]:
data_set

     sepal_length   sepal_width  petal_length  petal_width           class
0              5.1          3.5           1.4          0.2     Iris-setosa
1              4.9          3.0           1.4          0.2     Iris-setosa
2              4.7          3.2           1.3          0.2     Iris-setosa
3              4.6          3.1           1.5          0.2     Iris-setosa
4              5.0          3.6           1.4          0.2     Iris-setosa
..             ...          ...           ...          ...             ...
145            6.7          3.0           5.2          2.3  Iris-virginica
146            6.3          2.5           5.0          1.9  Iris-virginica
147            6.5          3.0           5.2          2.0  Iris-virginica
148            6.2          3.4           5.4          2.3  Iris-virginica
149            5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [18]:
tr_data = data_set.sample(frac = 0.75, random_state = 100)
        
test_data = data_set.drop(tr_data.index)
#test_data

In [21]:
x = data_set.drop(['class'], axis=1)
y = data_set['class']

In [22]:
np.

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: class, Length: 150, dtype: object