In [8]:
data = "hello"

In [10]:
data * 2

'hellohello'

In [2]:
type(data)

str

In [4]:
'e' in data

True

In [5]:
a = [1,2,3]

In [6]:
2 in a

True

In [7]:
4 in a

False

In [12]:
print("구글", "아마존", "마이크로소프트", "애플", "야후")

구글 아마존 마이크로소프트 애플 야후

In [13]:
print("구글", "아마존", "마이크로소프트", "애플", "야후", sep=",")

구글,아마존,마이크로소프트,애플,야후

In [14]:
print("구글", "아마존", "마이크로소프트", "애플", "야후", sep="*")

구글*아마존*마이크로소프트*애플*야후

In [15]:
a = input('이름을 입력하세요')

이름을 입력하세요이도영

In [16]:
print(a)

이도영

In [17]:
print(a*3)

이도영이도영이도영

In [18]:
b = input('숫자를 입력하세요')

숫자를 입력하세요10

In [19]:
type(b)

str

In [22]:
print(int(b)*10)

100

In [ ]:
a = input('이름을 입력하세요')
b = input('소속을 입력하세요')
c = input('핸드폰 번호를 입력하세요')

In [33]:
d = c[4:8]
print("이름은 %s 입니다. 소속은 %s 이며, 핸드폰 번호는 010-%s-****"%(a,b,d))

이름은 이도영 입니다. 소속은 한국공대 이며, 핸드폰 번호는 010-2822-****

In [ ]:
print("곱하기 하는 Python 코드")
a = input("첫 번째 숫자를 입력하세요. : ")
b = input("두 번째 숫자를 입력하세요. : ")
res = int(a) * int(b)    #형 변환 해줘야함

print("결과")
print(a, '*', b, '=' , res)